@{
    ViewData["Title"] = "PDF Demo";
}
<div class="row">
      <div class="col-md-3 col-md-offset-5">
          <div class="thumbnail">
            <img src="~/images/logan2017.jpg" alt="Logan">
              <div class="caption">
                <h4><i class="fa fa-film" aria-hidden="true"></i> Logan</h4>
                <p><i class="fa fa-ticket" aria-hidden="true"></i> VIP Ticket</p>
                <p>Amount:£10.00</p>
                <p class="text-right"><a class="btn btn-info btn-xs" role="button" target="_blank" asp-action="GeneratePdf">Print</a></p>
            </div>
          </div>
        </div>
</div>